body{
    font-family: "Merriweather";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: auto;
    height: 100%;
    background-color: #E9F1FA;
}
html{
    scroll-behavior: smooth;
}

p{
    margin-left: 30px;
}

header{
    position: relative;
    display: flex;
    margin: 0 0;
    padding: 0 20px;
    align-items: center;
    background-color: #00ABE4;
    color: white;
    width: 100vw;
    justify-content: space-evenly;
    height: 80px;
    font-size: 20px;
    
    
}
#past-header{
    margin-left: 30px;
}
.list {
    text-decoration: none;
    list-style: none;
    display:inline-block;
    margin: 0 60px;
    text-align: center;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}
.skills-list img{
    height: 70px;
    border: none;
    margin: auto;
    border-radius: 10px;

}
.skills-list img:hover{
    height: 90px;
    box-shadow: 1px 1px 3px ;

}
.skill{
    display: flex;
    flex-direction: column;
}
.skill p{
    margin: 0;
    font-weight: 600;
    margin-top: 8px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover, header span:hover, #profile-name:hover{
    
    transition: 0.15s ease-out;
    letter-spacing: 0.45px;
    cursor: pointer;
    text-shadow: 0.5px 1px 3px #E9F1FA;
}


header span{
    right: 80px;
    position: absolute;
    border-color: white;
    color: white;
}

#profile-name{
    position: absolute;
    left: 40px;
}
img{
    height: 300px;
    margin: 10px;
    margin-right: 30px;
    border: #00ABE4 solid 2px;
    transition: ease 0.5s;
    
}
img:hover{
    box-shadow: 2px 2px 5px black;
}
video{
    height: 270px;
    width: 600px;
    object-fit: cover;
}
.description{
    width: 600px;
    height: 300px;
}
.project{
    display: flex;
    width: auto;
    gap: 20px;
}
.projects{
    display: flex;
    justify-content: center;
}
.float-left{
    float: left;
    margin-left: 30px;
}
.float-right{
    float: right;
}
section.past p{
    margin-right: 60px;
    display: flex;
    justify-content: center;
}
.section{
    display: block;
    margin: 80px 40px;
    ;
}


footer{
    width: 100%;
    height: 50px;
    background-color: #00ABE4;
    position:static;
    bottom: 0px;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    
    
}
footer p{
    
    margin-left: 200px;
    text-align: center;
    display: flex;
}
footer img{
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
}
#footer-title{
    position: absolute;
    left: 20px;
    margin-left: 0;
}